.abdominal_main{position: absolute; top: 50px; width: 100%; bottom: 50px; overflow: auto;}
.abdominal_main .art_header{background: #f4f4f4; border-bottom: solid 1px #e1e1e3; padding: 15px; color: #5e6571; }
.abdominal_main .art_title{height: 50px; font-size: 18px; line-height: 50px; padding-left: 60px; background: url(../images/indexicon_6.png) no-repeat left center; }
.abdominal_main .art_content {padding-top: 10px;}
.abdominal_main .art_list {display: block; margin: 20px 10px; color: #e1e1e3; border: #e1e1e3 solid 2px; text-align: center; line-height: 50px; font-size: 18px;}
.blue{color: #429cef;}