.download_main {position: absolute; top: 50px; width: 100%; bottom: 50px; overflow: auto;}
.download_main .title{text-align: center; color: #ff2350; padding: 10px;}
.download_main .iphone{height: 392px; background: url(../images/iphone2.png) no-repeat center bottom;}