.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

/*.evaluation_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.evaluation_main {position: relative; color: #5e6571;}
.evaluation_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.evaluation_main .logo {width: 40px; height: 50px; margin-left: 6px; background-image: url(../images/appicon6.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.evaluation_main .logo{background-image: url(../images/appicon6@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.evaluation_main .logo{background-image: url(../images/appicon6@2x.png); background-size: 30px 30px;}}
.evaluation_main .font{font-size: 18px; padding: 7px 0px;}
.evaluation_main .content{ position: relative; margin: 0px 10px; display: -webkit-box; -webkit-box-orient: vertical; }
.evaluation_main .content > * {display: block;}
.evaluation_main .content input{height: 40px; border: #d5d4d8 solid 2px; padding: 0px 5px; font-size: 18px; margin: 0px;}
.evaluation_main .content .gestweek {display: -webkit-box;}
.evaluation_main .gestweek > select {-webkit-box-flex: 1; display: block; line-height: 20px; height: 40px; font-size: 14px; border: #d5d4d8 solid 2px; padding: 0px 5px; -webkit-appearance: textfield; border-radius: 0px;}
.evaluation_main .menstrual{line-height: 30px;}
.evaluation_main .count{color: white; background: #ff2350; margin: 20px 0px 10px 0px; padding: 0px; line-height: 50px; text-align: center; font-size: 18px;}
