.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

/*.evalret {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.evalret_main {position: relative; color: #5e6571;}
.evalret_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.evalret_main .logo {width: 40px; height: 50px; margin-left: 6px; background-image: url(../images/appicon6.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.evalret_main .logo{background-image: url(../images/appicon6@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.evalret_main .logo{background-image: url(../images/appicon6@2x.png); background-size: 30px 30px;}}
.evalret_main .font{font-size: 18px; line-height: 50px;}
.evalret_main .content{ position: relative; margin: 0px 10px; display: -webkit-box; -webkit-box-orient: vertical; }
.evalret_main .content .retlist {list-style: none; margin: 10px 0px; padding: 0px;}
.evalret_main .retlist > li {border-bottom: #d3d2d6 solid 1px; padding: 10px 0px; font-size: 18px;}
.evalret_main .retlist .desc {text-align: left; display: inline-block; line-height: 25px; font-size: 18px;}
.evalret_main .content .ref {text-align: center;}
.evalret_main .count{color: #5e6571; background: #f0f0f0; margin: 10px 0px; padding: 0px; line-height: 50px; text-align: center; font-size: 18px; display: block;}
/*progress*/
.evalret_main .content .progress {display: -webkit-box;}
.evalret_main .progress .range { text-align: center; width: 75px; line-height: 70px;} 
.evalret_main .progress .center {position: relative; -webkit-box-flex: 1;}
/*popup*/
.progress .popup {position: relative; padding: 3px; border-radius: 3px; display: inline-block;}
.progress .popup .popup-content {font-size: 12px; color: white;}
.progress .cursor {background: #ff2350; left: 0%;}
.progress .cursor .pointer {position: absolute; width: 0px; height: 0px; left: 50%; bottom: -8px; margin-left: -4px; border: transparent solid 4px; border-top-color: #ff2350;}
.progress .standard{background: #2ea7e0; left: 50%;}
.progress .standard .pointer {position: absolute; width: 0px; height: 0px; left: 50%; top: -8px; margin-left: -4px; border: transparent solid 4px; border-bottom-color: #2ea7e0;}
/*bar*/
.progress .progress-bar {height: 15px; border-bottom: #ff2350 solid 1px; margin: 5px 0px;}
.progress .progress-bar .bar,.progress .cursor {-webkit-transition-property: width,left; -webkit-transition-duration: 500ms;}
.progress .progress-bar .bar {position: relative; background: #ff2350; width: 0%; height: 100%;}
/*mark loading*/
.evalret_mark {position: absolute; top: 0px; width: 100%; height: 100%; background: rgba(255, 255, 255, .7); z-index: 200;}
.evalret_mark .loading{width: 100%; height: 100%; background: url(../images/loading.gif) no-repeat center center; background-size: 40px 40px;}