.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

/*.expect_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.expect_main {position: relative; color: #5e6571;}
.expect_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.expect_main .logo {width: 40px; height: 50px; margin-left: 2px; background-image: url(../images/appicon0.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.expect_main .logo{background-image: url(../images/appicon0@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.expect_main .logo{background-image: url(../images/appicon0@2x.png); background-size: 30px 30px;}}
.expect_main .font{line-height: 50px; font-size: 18px;}

.expect_main .content{ margin: 0px 10px;}
.expect_main .content > * {display: block;}
.expect_main .div-input {position: relative; height: 44px; display: -webkit-box;}
.expect_main .div-input > * {width: auto; height: 40px; line-height: 20px; text-align: left; border: #d5d4d8 solid 2px; padding: 0px 5px; margin: 0px; font-size: 18px; display: block; -webkit-box-flex: 1;}
.expect_main .div-input > select {-webkit-appearance: textfield; border-radius: 0px;}
.expect_main .menstrual{line-height: 30px;}
.expect_main .count{color: white; background: #ff2350; margin: 20px 0px; padding: 0px; line-height: 50px; text-align: center; font-size: 18px;}
/*popup*/
.expect-popup {background: rgba(0, 0, 0, .7); z-index: 100;}
.expect-popup .popup-main {margin: 0px; padding: 0px;}
.expect-popup .popup-content {background: white; margin: 0px 10px; font-size: 18px; line-height: 20px; color: #5e6571;}
.expect-popup .ui-dialog-content {background: white; margin: 0px 10px;}
.expect-popup .result {padding: 10px; color: #5e6571; font-size: 18px; line-height: 40px;}
.expect-popup .popup-close {font-size: 18px; color: #5e6571; display: block; background: #f0f0f0; margin: 10px; margin-top: 0px; text-align: center; line-height: 50px;}