.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

/*.foetusweight_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.foetusweight_main {position: relative; color: #5e6571;}
.foetusweight_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.foetusweight_main .logo {width: 40px; height: 50px; margin-left: 6px; background-image: url(../images/appicon1.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.foetusweight_main .logo{background-image: url(../images/appicon1@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.foetusweight_main .logo{background-image: url(../images/appicon1@2x.png); background-size: 30px 30px;}}
.foetusweight_main .font{line-height: 50px; font-size: 18px;}
.foetusweight_main .content{ position: relative; margin: 0px 10px; display: -webkit-box; -webkit-box-orient: vertical; }
.foetusweight_main .content > * {display: block;}
.foetusweight_main .content input{height: 40px; border: #d5d4d8 solid 2px; padding: 0px 5px; font-size: 18px; margin: 0px;}
.foetusweight_main .content .gestweek {display: -webkit-box;}
.foetusweight_main .gestweek > select {-webkit-box-flex: 1; display: block; line-height: 20px; height: 40px; font-size: 14px; border: #d5d4d8 solid 2px; padding: 0px 5px;}
.foetusweight_main .menstrual{line-height: 30px;}
.foetusweight_main .count{color: white; background: #ff2350; margin: 20px 0px 10px 0px; padding: 0px; line-height: 50px; text-align: center; font-size: 18px;}
/*popup*/
.foetus-popup {background: rgba(0, 0, 0, .7); z-index: 100;}
.foetus-popup .popup-main {margin: 0px; padding: 0px;}
.foetus-popup .popup-content {background: white; margin: 0px 10px; font-size: 18px; line-height: 20px; color: #5e6571;}
.foetus-popup .result { background: white; padding: 10px; padding-bottom: 0px; color: #5e6571; font-size: 20px; line-height: 40px;}
.foetus-popup .weight-result{text-align: center; font-size: 20px; }
.foetus-popup .popup-close{font-size: 18px; color: #5e6571; display: block; background: #f0f0f0; margin: 10px; text-align: center; line-height: 50px;}
.foetus-popup .redirect {list-style: none; background: #f0f0f0; padding: 5px; margin: 0px;}
.foetus-popup .redirect a {display: block; font-size: 14px; line-height: 25px; color: #5e6571; text-align: left; background-repeat: no-repeat; background-position: left center; background-size: 40px 40px; padding-left: 50px;}
.foetus-popup .re-eval { background-image: url(../images/reicon0.png); border-bottom: #cfced3 solid 1px;}
.foetus-popup .re-type { background-image: url(../images/reicon1.png);}