.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background: url(../images/babylogo.png) no-repeat center center;}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

/*.foetusweight_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.foetusweight_main {position: relative; color: #5e6571;}
.foetusweight_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.foetusweight_main .logo {width: 40px; height: 50px; margin-left: 6px; background: url(../images/appicon1.png) no-repeat center center;}
.foetusweight_main .font{line-height: 50px; font-size: 18px;}
.foetusweight_main .content{ margin: 0px 15px; }
.foetusweight_main .input_container{position: relative; background: white; height: 46px;}
.foetusweight_main .input_container input{position: absolute; height: 40px; border: #d5d4d8 solid 2px; padding: 0px 5px; font-size: 18px; left: 0px; right: 0px;}
.foetusweight_main .menstrual{line-height: 30px;}
.foetusweight_main .count{display: block; width: 100%; color: white; background: #ff2350; border: #ff2350 solid 2px; margin: 20px -2px; padding: 0px; line-height: 50px; text-align: center; font-size: 18px;}
.foetusweight_main .ret{font-size: 18px; line-height: 25px;}
