.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo {background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo {background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

.forecasttable_main { width: 100%; bottom: 0px; color: #5e6571;}
.forecasttable_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.forecasttable_main .logo {width: 40px; height: 50px; margin-left: 5px; background-image: url(../images/appicon3.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.forecasttable_main .logo {background-image: url(../images/appicon3@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.forecasttable_main .logo {background-image: url(../images/appicon3@2x.png); background-size: 30px 30px;}}
.forecasttable_main .font{-webkit-box-flex: 1; line-height: 50px; font-size: 18px;}
.forecasttable_main .imme {padding: 0px 10px; background: #ff2350; line-height: 38px; font-size: 18px; color: white; display: block; margin: 6px;}
.forecasttable_main .list{margin: 15px; line-height: 25px;}
.forecasttable_main .list dd{margin: 0px; color: #ff2350;}

.forecasttable_main .guide {background: #f0f0f0; display: -webkit-box; line-height: 40px;}
.forecasttable_main .guide .month{-webkit-box-flex: 1; padding: 0px 10px;}
.forecasttable_main .sex{padding: 0px 12px; background-position: center center; background-repeat: no-repeat; background-size: 10px 15px;}
.forecasttable_main .b {background-image: url(../images/sexboy.png);}
.forecasttable_main .g {background-image: url(../images/sexgirl.png);}

div.table ul.table-captain{ display: -webkit-box; background: #d30044; list-style: none; margin: 0px; padding: 0px;}
div.table ul.table-captain > li > div{ width: 17px; overflow: hidden; margin: 0 auto; text-align: center;}
div.table ul > li {color: white; line-height: 20px; padding: 3px;}
div.table ul > li:nth-child(n+2) {-webkit-box-flex: 1;}
div.table ul > li.column {width: 30px;}
div.table > div.table-body {height: 260px; overflow: hidden; position: relative;}
div.table > div.table-body ul > li:nth-child(n+2){border-bottom: #d3d2d7 solid 1px;}
div.table > div.table-body ul > li:nth-child(odd) {background-color: #f0f0f0;}
div.table > div.table-body ul > li.column {background-color: #ff2350;}
div.table ul.table-row{display: -webkit-box; list-style: none; margin: 0px; padding: 0px; text-align: center;}
