.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}
/*.foetusweight_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.gestation_main {position: relative; color: #5e6571;}
.gestation_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.gestation_main .logo {width: 40px; height: 50px; margin-left: 6px; background-image: url(../images/appicon5.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.gestation_main .logo{background-image: url(../images/appicon5@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.gestation_main .logo{background-image: url(../images/appicon5@2x.png); background-size: 30px 30px;}}
.gestation_main .font{line-height: 50px; font-size: 18px;}
.gestation_main .gest-content { position: relative; display: -webkit-box; background: #f0f0f0; padding: 5px; z-index: 1;}
.gestation_main .gest-content > a {display: block; font-size: 18px; line-height: 40px; text-align: center; width: 60px; color: #d30044;}
.gestation_main .gest-select { position: relative; -webkit-box-flex: 1; width: auto; height: 44px;}
.gestation_main .gest-select .gest-main { position: relative; background: white; height: 40px; border: #cdccd1 solid 1px;}
/*.gestation_main .gest-img { margin: 10px; background-repeat: no-repeat; background-position: center center; background-size: 100%; background-image: url(../images/gest/1.png)}*/
.gestation_main .gest-img {position: relative; margin: 10px; height: 0px; border: #cdcdd1 solid 2px;}
.gestation_main .gest-img .image {width: 100%; height: 100%;}
.gestation_main .gest-img .img-mark {position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: rgba(255, 255, 255, .7); display: none;}
.gestation_main .gest-img .img-mark .loading {width: 100%; height: 100%; background: url(../images/loading.gif) no-repeat center center; background-size: 40px 40px;}
.gestation_main .gest-msg,.gestation_main .mother-msg { margin: 10px; font-size: 18px; line-height: 30px;}
.gestation_main .line {margin: 10px; height: 1px; border: none; background: #cdccd1;}
/*combobox*/
.gest-combobox { list-style: none; padding: 0px; margin: 0px;}
.gest-combobox > li.gest-item { background: #eee; border: #cdccd1 solid 1px;}
.gest-combobox > li.selected {background: white;}
.gest-combobox > li.gest-item > a {line-height: 40px; font-size: 18px; color: #5e6571; text-align: center; display: block;}