.app_download{background: url(../images/app_l@2x.png) no-repeat left center; background-size: 168px 170px; background-color: #75bce8;}
.app_download .app_content{background: url(../images/app_r@2x.png) no-repeat right center; background-size: 164px 169px;}
.app_link .app_btn {background: url(../images/appstore_btn@2x.png) no-repeat right center; background-size: 102px 33px; background-color: #ff2350;}
/*icon*/
.main .icon0{background-image: url(../images/indexicon0@2x.png); background-size: 55px 50px;}
.main .icon1{background-image: url(../images/indexicon1@2x.png); background-size: 55px 50px;}
.main .icon2{background-image: url(../images/indexicon2@2x.png); background-size: 55px 50px;}
.main .icon3{background-image: url(../images/indexicon3@2x.png); background-size: 55px 50px;}
.main .icon4{background-image: url(../images/indexicon4@2x.png); background-size: 55px 50px;}
.main .icon5{background-image: url(../images/indexicon5@2x.png); background-size: 55px 50px;}
.main .icon6{background-image: url(../images/indexicon6@2x.png); background-size: 55px 50px;}
.main .icon7{background-image: url(../images/indexicon7@2x.png); background-size: 55px 50px;}
.main .icon8{background-image: url(../images/indexicon8@2x.png); background-size: 55px 50px;}
.main .icon9{background-image: url(../images/indexicon9@2x.png); background-size: 55px 50px;}