.os-calendar {border-collapse: collapse; border:none; width: 100%; color: white;}
.os-calendar>caption {background: #d30044; padding: 10px;}
.os-calendar tr>th {background: #ff2350; border: #ff5a7c solid 1px; width: 14%;}
.os-calendar tr>* { text-align: center; padding: 5px 0px;}
.os-calendar td.month {text-align: left; background: #f0f0f0; color: #ff2350; padding-left: 5px;}
.os-calendar > tbody > tr {border-bottom: #e0e0e0 solid 1px;}
.os-calendar > tbody div { width: 22px; height: 22px; color: #919aaa; line-height: 24px; margin: 0 auto;}

.os-calendar .mens { width: 30px; background-image: url(../images/blood.png); background-repeat: no-repeat; background-position: right center; background-size: 7px 10px;}
.os-calendar .ovul {background: #00b8e4; border-radius: 50%; color: white;}
.os-calendar .safety { background: #03c29a; border-radius: 50%; color: white;}