.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}
/*.foetusweight_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.ovulation_main {position: relative; color: #5e6571;}
.ovulation_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.ovulation_main .logo {width: 40px; height: 50px; margin-left: 6px; background-image: url(../images/appicon4.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.ovulation_main .logo{background-image: url(../images/appicon4@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.ovulation_main .logo{background-image: url(../images/appicon4@2x.png); background-size: 30px 30px;}}
.ovulation_main .font{line-height: 50px; font-size: 18px;}
.ovulation_main .content {margin: 10px;}
.ovulation_main .label {line-height: 30px; display: block;}
.ovulation_main .mens {position: relative; display: -webkit-box; -webkit-box-orient: vertical; height: 44px;} 
.ovulation_main .mens input { width: auto; height: 40px; border: #d5d4d8 solid 2px; padding: 0px 5px; font-size: 18px; line-height: 20px; margin: 0px; text-align: left; display: block;}
.ovulation_main .count{display: block; color: white; background: #ff2350; line-height: 50px; text-align: center; font-size: 18px; margin: 20px 0px;}
/*popup*/
.ovulation-popup { background: rgba(0, 0, 0, .7); z-index: 100;}
.ovulation-popup .popup-main {margin: 0px; padding: 0px;}
.ovulation-popup .popup-content {background: white; margin: 0px 10px; font-size: 18px; line-height: 20px; color: #5e6571;}
.ovulation-popup ul.diagram {list-style: none; margin: 0px; padding: 0px; display: -webkit-box;}
.ovulation-popup ul.diagram li {-webkit-box-flex: 1; display: -webkit-box; -webkit-box-pack: center; text-align: center; padding: 5px;}
.ovulation-popup ul.diagram li div {color: #919aaa;}
.ovulation-popup .radius {width: 8px; height: 8px; border-radius: 50%; margin: 5px;}
.ovulation-popup .radius-red {border-radius: 0px; height: 10px; background-image: url(../images/blood.png); background-repeat: no-repeat; background-position: center center; background-size: 7px 10px;}
.ovulation-popup .radius-gray {background: #919aaa;}
.ovulation-popup .radius-ovul {background: #00b8e4;}

.ovulation-popup .popup-close {display: block; font-size: 18px; background: #f0f0f0; line-height: 50px; color: #777d86; text-align: center; margin: 10px 10px;}

.ovulation-popup .redirect {display: -webkit-box; padding: 5px; margin: 0px; background: #f0f0f0;}
.ovulation-popup .redirect .cols {list-style: none; margin: 0px; padding: 0px; width: 50%; border-right: #d1d1d5 solid 1px;}
.ovulation-popup .cols li { border-bottom: #d1d1d5 solid 1px; }
.ovulation-popup .cols li a {display: block; font-size: 18px; color: #5e6571; text-align: left; padding: 10px 0px 10px 40px; background-repeat: no-repeat; background-position: 5px center; background-size: 30px 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ovulation-popup .re-expe { background-image: url(../images/appicon0.png);}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.ovulation-popup .re-expe {background-image: url(../images/appicon0@2x.png);}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.ovulation-popup .re-expe {background-image: url(../images/appicon0@2x.png);}}
.ovulation-popup .re-foet { background-image: url(../images/appicon1.png);}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.ovulation-popup .re-foet {background-image: url(../images/appicon1@2x.png);}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.ovulation-popup .re-foet {background-image: url(../images/appicon1@2x.png);}}
.ovulation-popup .re-type { background-image: url(../images/appicon2.png);}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.ovulation-popup .re-type {background-image: url(../images/appicon2@2x.png);}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.ovulation-popup .re-type {background-image: url(../images/appicon2@2x.png);}}
.ovulation-popup .re-fore { background-image: url(../images/appicon3.png);}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.ovulation-popup .re-fore {background-image: url(../images/appicon3@2x.png);}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.ovulation-popup .re-fore {background-image: url(../images/appicon3@2x.png);}}
