.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background-image: url(../images/babylogo.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.header .app_logo{background-image: url(../images/babylogo@2x.png); background-size: 41px 41px;}}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}
/*.foetusweight_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}*/
.safety_main {position: relative; color: #5e6571;}
.safety_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.safety_main .logo {width: 40px; height: 50px; margin-left: 6px; background-image: url(../images/appicon1.png); background-repeat: no-repeat; background-position: center center;}
@media screen and (-webkit-device-pixel-ratio: 2.0) {.safety_main .logo{background-image: url(../images/appicon1@2x.png); background-size: 30px 30px;}}
@media screen and (-webkit-device-pixel-ratio: 3.0) {.safety_main .logo{background-image: url(../images/appicon1@2x.png); background-size: 30px 30px;}}
.safety_main .font{line-height: 50px; font-size: 18px;}
.safety_main .content {margin: 10px;}
.safety_main .label {line-height: 30px; display: block;}
.safety_main .mens {position: relative; display: -webkit-box; -webkit-box-orient: vertical;} 
.safety_main .mens input { height: 40px; border: #d5d4d8 solid 2px; padding: 0px 25px 0px 5px; font-size: 18px; margin: 0px; display: block;}
.safety_main .mens .date {position: absolute; top: 13px; right: 5px; font-size: 18px; color: #5e6571;}
.safety_main .count{display: block; color: white; background: #ff2350; line-height: 50px; text-align: center; font-size: 18px; margin: 20px 0px;}
