.sport_main {position: absolute; top: 50px; width: 100%; bottom: 50px; overflow: auto;}
.sport_main ul{list-style: none; margin: 0px; padding: 10px; padding-bottom: 0px;}
.sport_main .index_box {display: -webkit-box;}
.sport_main .index{background: #ff2350; width: 20px; height: 20px; color: white; text-align: center; font-size: 14px; line-height: 20px; border-radius: 50%;}
.sport_main .item {line-height: 20px; padding-left: 10px;}
.sport_main .watch {height: 220px; background: url(../images/watch.png) no-repeat center center;}
.sport_main .iphone {height: 410px; background: url(../images/iphone1.png) no-repeat center bottom;}