.header{height: 62px;}
.header .app_logo{width: 62px; height: 62px; background: url(../images/babylogo.png) no-repeat center center;}
.header .app_title{color: white;}
.app_title div {font-size: 18px; line-height: 25px; padding-top: 10px;}

.typeblist_main {position: absolute; top: 62px; width: 100%; bottom: 0px; overflow: auto; color: #5e6571;}
.typeblist_main .title{display: -webkit-box; border: #e4e3e6 solid 1px;}
.typeblist_main .logo {width: 40px; height: 50px; background: url(../images/appicon2.png) no-repeat center center;}
.typeblist_main .font{line-height: 50px; font-size: 18px;}
.typeblist_main .content{ margin: 0px 15px; }
.typeblist_main .search_container{position: relative; background: gray; height: 46px; margin-top: 15px;}
.typeblist_main .search_container .search{position: absolute; height: 40px; border: #d5d4d8 solid 2px; margin: 0px -2px; font-size: 18px; padding-right: 53px; left: 0px; right: 0px;}
.typeblist_main .search_container .search_btn{position: absolute; right: 2px; top: 4px; height: 38px; line-height: 38px; background: #ff2350; color: white; padding: 0px 10px;}
.typeblist_main .search_label {text-align: center; line-height: 30px; color: #cdccd1; padding-bottom: 10px;}
.typeblist_main .list{list-style: none; margin: 0px; padding: 0px;}
.typeblist_main .list li{border: #d1d0d4 solid 1px; float: left; margin: 2px;}
.typeblist_main .list a {display: block; padding: 10px; color: #5e6571; font-size: 18px;}